.tours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 1rem;
}

.section-text {
    font-size: 2.5rem;
    width: 100%;
    font-weight: bold;
    color: var(--principal-color);
}

.property-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    gap: 1.2rem;
    margin-top: 3rem;
}

.line-conatiner {
    display: flex;  
    align-items: center;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    gap: 1.2rem;
}

.line {
    width: 120px;
    height: 3px;
    border-radius: 10px;
    margin: 2rem 0;
    background-color: var(--secundario-color);
}

.groupal-section, .privates-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 1rem;
}

.inmersive-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem 0rem;
}

@media (max-width: 1008px) {
    .section-text {
        font-size: 2rem;
    }
}
    

.carousels-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1.2rem;
    padding: 3rem 1rem;
}